html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
  background-color: rgb(239,239,239); 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: rgb(239,239,239);
}
.footer.footer-primary > .container {
  text-align: center;
}
.footer-para {
  margin: 85px 0;
  font-style: normal;
  font-size: 20px;
}
.footer.footer-secondary {
  background: url(../images/footer.png) center center no-repeat;
  background-size: 100%;
}
.footer.footer-tertiary {
  /*background: #000 url(../images/footer-black.png) no-repeat center center;
  height: 300px;*/
  background-color: #000;
}
.footer-header {
  color: #0A9DE7;
}
.footer-row {
  margin-top: 4%;
  margin-bottom: 4%;
}
#footer-paragraph {
  color: #fff;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 0px;
}
#edit {
  margin: 40px 0;
}

.jumbotron {
  margin: 60px 0 0;
  background-color: #0A9DE7;
  color: #fff;
}
#jumbotron-title {
  margin-top: 15px;
  font-size: 40px;
  line-height: 48px;
}
#five {
  font-family: proxima-nova, sans-serif;
  font-size: 210px;
  line-height: 140px;
  color: rgb(94,203,251);
}

h1,h2,h3,p {
  font-weight: normal;
  font-family: proxima-nova, sans-serif;
}
h1{
  font-size: 56px;
  /*line-height: 58px;*/
}
h2 {
  font-size: 26px;
  line-height: 30px;
  margin: 7px 0;
}
.para {
  display: block;
  color: #474747;
  font-size: 20px;
  margin-bottom: 0px;
}
.subtitle {
  color: #474747;
  font-weight: normal;
  font-size: 24px;
}

#intro {
  text-align: center;
}

#telefon {
  margin-left: auto;
  margin-right: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
  background-color: black;
  height: 60px;
}
.navbar-brand {
  color: #fff;
}

.main-content {
  margin: 50px 0 0;
  padding-bottom: 50px;
}

#prev, #next {
  color: #0A9DE7;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 25px;
}
#next {
  float: right;
}

#reference {
  text-decoration: underline;
  color: #0A9DE7;
}








